.item_riscado{
  text-decoration: line-through;
  }
  *{
    font-size: xx-large;
    text-align: center;
  }
  .container{
   border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
    background-color: #fde99b;
  }

  table{
    margin-top: 20px;
    border: solid;
    border-style: dashed dashed double double;
    width: 100%;
  }
  tr,td{
    border-style: solid;
  }
  button{
    background-color: rgb(156, 156, 248);
    border: 0;
    box-shadow: #888888 0.3vw 0.6vh;
    margin-left: 20px;
  }

  .nomes{
    text-align: center;
    background-color: rgb(156, 156, 248);
  }
